body {
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 350px;
  background-blend-mode: multiply;
  background-color: white;
}


.dapi {
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  color: white;
  display: inline-block;
  padding: 10px;
}

.header {
  background-color: #ED8A42;
  width: 100%;
  height: 200px;
  position: fixed;
  text-align: center;
  top: 0;
  border: 0;
  left: 0;
  right: 0;
  border-bottom: solid 9px #C95E10;
}

a.addCat {
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

.container {
  top: 300px;
  bottom:300px;
  position: absolute;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
}

/*for the list.html page*/
.container2 {
  top: 220px;
  bottom:300px;
  position: absolute;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.editpage{
  top: 300px;
}

.image {
  min-width: 200px;
  min-height: 200px;
  height: 200px;
  width: 200px;
  background-color: white;
  border: solid black;
  padding: 10px;
  margin: 10px;
}

a.catText {
  text-decoration: none;
  color: black;
  font-size: 40px;
  padding-top: 40px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

a:hover {
  color: black;
}

.newCat, .editCat, .showCat{
  text-align: center;
  margin-top: 250px;
  font-family: 'Lato', sans-serif;
  padding: 30px;
  font-size: 40px;
}

.input {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
}

.button, .deleteButton {
  height: 50px;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin: 10px;
  background-color: #C95E10;
  color: white;
}
