body {
  background-attachment: fixed;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 350px;
  background-blend-mode: multiply;
  background-color: white;
}


.dapi {
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  color: white;
  display: inline-block;
  padding: 0px;
  margin-top: 0px;
}

.header {
  background-color: #ED8A42;
  width: 100%;
  height: 200px;
  position: fixed;
  text-align: center;
  top: 0;
  border: 0;
  left: 0;
  right: 0;
  border-bottom: solid 20px #C95E10;
}

a.addCat {
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

.container {
  top: 300px;
  bottom:300px;
  position: absolute;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
}

.editpage{
  top: 300px;
}

.image {
  min-width: 200px;
  min-height: 200px;
  height: 200px;
  width: 200px;
  background-color: white;
  border: solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

a.catText {
  text-decoration: none;
  border: solid black;
  color: black;
  font-size: 35px;
  padding: 5px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  border-radius: 10px;


}

a:hover {
  color: black;
}

.newCat, .editCat, .showCat {
  text-align: center;
  margin-top: 250px;
  font-family: 'Lato', sans-serif;
  padding: 30px;
  font-size: 40px;
}

.input {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
}

.button, .deleteButton {
  height: 50px;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin: 10px;
  background-color: #C95E10;
  color: white;
}

.editAllCats {
  margin-top: 250px;
  font-family: 'Lato', sans-serif;
  padding: 0px;
  font-size: 40px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nameAndEdit {
  background-color: white;
  border: outset #D9D0C5;
  margin: 20px;
  padding: 5px;
  }
.edit {
  text-decoration: none;
  color: #7D3024;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  padding: 10px;
}
.catName {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  padding: 0px;
  margin: 10px;
}
