<div class="showCat">

<h2 class="show">{{CategoryShowViewModel.category.name}}</h2>

<div data-ng-repeat="lessons in CategoryShowViewModel.lessons">
  <a ng-href={{lessons.image_url}}>{{lessons.title}}</a>
</div>


<!-- <form>
  <input class="input" placeholder="title" data-ng-model="CategoryEditViewModel.lesson.title" />
  <input class="input" placeholder="link" data-ng-model="CategoryEditViewModel.lesson.image_url" />
  <button class="button" data-ng-click="CategoryShowViewModel.update()">Update</button>
  <button class="deleteButton" data-ng-click="CategoryShowViewModel.destroy()">Delete</button>
</form> -->

</div>
